/* .highlight > pre > .btn {
    float: right;
} */

.cb-div{
    display: flex;
    flex-direction: row-reverse;
}
.btn-cb{
    color: #FFF;
    background-color: #EB3A3A;
    border: 0;
    padding: 1px 3px;
    font-size: 10pt;
    cursor: pointer;
    margin-left: 5px;
}
.btn-bb:hover{
    background-color: rgba(235, 58, 58, 0.774);
}