
h2 {color: #009688;}
h3,h4 {color: #3f51b5;}
strong {color: #c60400;}

.pager li a {
  width: 159px;
}
@media (min-width: 768px){
  .pager li a {
    width: 289px;
  }
}

hr.summary {
  margin-bottom: 0;
  margin-top: 5px;
  border: 0;
  border-top: 1px solid #999;
}

.pager li.top a {
  padding: 0px;
  margin: 0px;
}

.division_nav {
  display: flex;
  height: 20px;
  flex-direction: row;
  justify-content: flex-end;">
}
@media (min-width: 768px){
  .division_nav  {
    height: 0px;
  }
}
.division_nav .div_a{
  float: right;
  font-size: small;
  z-index: 100;
}

.post-heading h4 {
  margin-left: 40px;
}
@media (min-width: 768px){
  .post-heading h4 {
    margin-left: 55px;
  }
}

table {
  width: 100%;
  font-size: smaller;
}
table tr th {
  background-color:darkcyan;
  color: #fff;
  text-align: center;
}

a {
  color: #006cda;
}

li {
  margin-bottom: 10px;
}