.highlight table td{padding:5px}
.highlight table pre{margin:0}
.highlight, .highlight .w{color:#586e75}
.highlight .err{color:#002b36;background-color:#dc322f}
.highlight .c, .highlight .c1, .highlight .cd, .highlight .cm, .highlight .cs{color:#657b83}
.highlight .cp{color:#b58900}
.highlight .nt{color:#b58900}
.highlight .o, .highlight .ow{color:#93a1a1}
.highlight .p, .highlight .pi{color:#93a1a1}
.highlight .gi{color:#859900}
.highlight .gd{color:#dc322f}
.highlight .gh{color:#268bd2;background-color:#002b36;font-weight:700}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv{color:#6c71c4}
.highlight .kc{color:#cb4b16}
.highlight .kt{color:#cb4b16}
.highlight .kd{color:#cb4b16}
.highlight .s, .highlight .s1, .highlight .s2, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .sh, .highlight .sx{color:#859900}
.highlight .sr{color:#2aa198}
.highlight .si{color:#d33682}
.highlight .se{color:#d33682}
.highlight .nn{color:#b58900}
.highlight .nc{color:#b58900}
.highlight .no{color:#b58900}
.highlight .na{color:#268bd2}
.highlight .il, .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .mx{color:#859900}
.highlight .ss{color:#859900}

/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.highlight .lineno {color:rgba(0, 0, 0, 0.3);padding: 0 10px;-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}
.lineno::-moz-selection {background-color: transparent;} /* Mozilla specific */
.lineno::selection {background-color: transparent;} /* Other major browsers */
