<!-- TODO this file has become a mess, refactor it -->

{% if page.bigimg or page.title %}

{% if page.bigimg %}
  <div id="header-big-imgs" data-num-img={% if page.bigimg.first %}{{ page.bigimg.size }}{% else %}1{% endif %}
    {% for bigimg in page.bigimg %}
	  {% assign imgnum = forloop.index %}
	  {% for imginfo in bigimg %}
	    {% if imginfo[0] %}
		  data-img-src-{{ imgnum }}="{{ imginfo[0] | prepend: site.baseurl | replace: '//', '/' }}"
		  data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
		{% else %}
		  data-img-src-{{ imgnum }}="{{ imginfo | prepend: site.baseurl | replace: '//', '/' }}"
		{% endif %}
	  {% endfor %}
    {% endfor %}
  ></div>
{% endif %}

{% assign cert = site.data.ismsp-cert-item[page.cert_item_no] %}
<header class="header-section">
<div class="intro-header no-img">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="division_nav">
          <div class="div_a">
            <a href="/ISMS-P/CERT/1">1.관리체계</a> |
            <a href="/ISMS-P/CERT/2">2.보호대책</a> |
            <a href="/ISMS-P/CERT/3">3.개인정보</a>
            {% if page.last_modified_at %}
              <div><span style="font-style: italic;font-size: 13px;float: right;color: #888;">last update at: {{page.last_modified_at}}</span></div>
            {% endif %}
          </div>
        </div>
        <div class="post-heading">
          {% if cert['id'] %}
            <h2 class="post-subheading">{{cert['parent']}}</h2>
            <h1>{{cert['id']}} {{cert['title']}}</h1>
          {%elsif page.title %}
            <h1>{{page.title}}</h1>
            <h4>{{page.subtitle}}</h4>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</header>


{% else %}
<div class="intro-header"></div>
{% endif %}
