---
layout: base
css: 
  - "/css/isms-cert.css"
common-js:
  - "/js/jquery-1.11.2.min.js"
  - "/js/bootstrap.min.js"
  - "/js/main.js"
  - "/js/clipboard.min.js"
  - "/js/cb.js"
  - "/js/touchSwipe.min.js"
  - "/js/swipe.js"
---

{% include isms-header.html %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      {% if page.gh-repo %}
        {% assign gh_split =  page.gh-repo | split:'/'  %}
        {% assign gh_user =  gh_split[0]  %}
        {% assign gh_repo =  gh_split[1]  %}

        <div id="header-gh-btns">
          {% if page.gh-badge.size > 0 %}
            {% for badge in page.gh-badge %}
              {% case badge %}
                {% when 'star'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=star&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'watch'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=watch&v=2&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'fork'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=fork&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'follow'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&type=follow&count=true" frameborder="0" scrolling="0" width="220px" height="20px"></iframe>
              {% endcase %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
      <hr class="nomargin"/>

      <article role="main" class="blog-post">
        
        {% if page.cert_item_no %}
        <h3>주요사항</h3>
        <strong>
        {{site.data.ismsp-cert-summary[page.cert_item_no]['summary']}}
        </strong>

        <h3>인증기준</h3>  
        {{site.data.ismsp-cert-std[page.cert_item_no]['std']}}  

        {% assign chklist = site.data.ismsp-cert-chk[page.cert_item_no] %}
        <h3>확인사항</h3>
          <ul>
          {% for item in chklist offset:2 %}
            {% if item[1] %}<li>{{ item[1] | remove: '<p>' | remove: '</p>' }}</li>{% endif %}
          {% endfor %}
          </ul>

        {% assign chklist2 = site.data.ismsp-cert-chk-Virtual-Asset[page.cert_item_no]  %}
        {% if chklist2['chk1'] %}
        <h4>가상자산 사업자 확인사항</h4>
          <ul>            
          {% for item in chklist2 offset:2 %}
            {% if item[1] %}<li>{{ item[1] | remove: '<p>' | remove: '</p>' }}</li>{% endif %}
          {% endfor %}
          </ul>
        {% endif %}


        {% assign errlist = site.data.ismsp-cert-err[page.cert_item_no] %}
        <h3>결함사례</h3>
        <ul>
          {% for item in errlist offset:2 %}
            {% if item[1] %}  <li>{{ item[1] | remove: '<p>' | remove: '</p>' }}</li>{% endif %}
          {% endfor %}
        </ul>
        <hr>
        {% endif %}
               
        {{ content }}

      </article>

      {% if page.tags.size > 0 %}
        <div class="blog-tags">
          Tags:
          {% if site.link-tags %}
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
          {% endfor %}
          {% else %}
            {{ page.tags | join: ", " }}
          {% endif %}
        </div>
      {% endif %}

      {% if page.social-share %}
        {% include social-share.html %}
      {% endif %}

      {% if page.cert_item_no %}
        {% assign pno = page.cert_item_no|minus: 1 %}
        {% assign nno = page.cert_item_no|plus: 1 %}
      {% endif %}

      <ul class="pager blog-pager">
        {% if page.prev_item %}
        <li class="previous">
          <a href="{{ page.prev_item }}" data-toggle="tooltip" data-placement="top" title="{{page.prev_item}} {{page.prev_title}}">{{page.prev_item}}<br/>{{page.prev_title}}</a>
        </li>
        {% elsif page.cert_item_no and pno >= 0 %}
          {% assign p_cert = site.data.ismsp-cert-item[pno] %}
        <li class="previous">
          <a href="{{p_cert['id']}}" data-toggle="tooltip" data-placement="top" title="{{p_cert['id']}} {{p_cert['title']}}">{{p_cert['id']}}<br/>{{p_cert['title']}}</a>
        </li>
        {% endif %}
        
        {% if page.next_item %}
        <li class="next">
          <a href="{{ page.next_item }}" data-toggle="tooltip" data-placement="top" title="{{page.next_item}} {{page.next_title}}">{{page.next_item}}<br/>{{page.next_title}}</a>
        </li>
        {% elsif  page.cert_item_no and nno <= 101 %}
          {% assign n_cert = site.data.ismsp-cert-item[nno] %}
        <li class="next">
          <a href="{{n_cert['id']}}" data-toggle="tooltip" data-placement="top" title="{{n_cert['id']}} {{n_cert['title']}}">{{n_cert['id']}}<br/>{{n_cert['title']}}</a>
        </li>
        {% endif %}
        
      </ul>
      <div class="swipeNotice">스와이프(Swipe)로 이전/다음 항목으로 이동</div>
     
      {% if page.comments %}
        <div class="disqus-comments">
          {% include disqus.html %}
        </div>
          {% include fb-comment.html %}
        <div class="staticman-comments">
          {% include staticman-comments.html %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
